In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("census.csv")
df.head(2)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333

In [59]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [6]:
df.describe() 
#Muestra la estadistica descriptiva de todos los datos

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,...,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000
mean,49.840276,2.668650,5.191356,30.259004,101.918572,1.933871e+05,1.933969e+05,1.937657e+05,1.952514e+05,1.967445e+05,...,-1.639167,-2.528381,-1.288083,-2.271925,-1.362607,-0.655205,-1.445775,-0.200419,-1.038960,-0.096759
std,1.253884,0.807513,1.973991,15.153897,107.626583,1.176201e+06,1.176244e+06,1.178710e+06,1.189648e+06,1.200508e+06,...,10.407267,11.871798,12.186844,11.440505,12.301558,10.613259,12.228155,12.200064,11.471743,12.265772
min,40.000000,1.000000,1.000000,1.000000,0.000000,8.200000e+01,8.200000e+01,8.300000e+01,9.000000e+01,8.100000e+01,...,-128.205128,-147.727273,-109.876862,-178.947368,-84.844838,-128.205128,-147.727273,-102.988031,-178.947368,-62.322703
25%,50.000000,2.000000,4.000000,18.000000,33.000000,1.129900e+04,1.129900e+04,1.127500e+04,1.127700e+04,1.119500e+04,...,-6.153101,-7.561799,-6.323058,-7.357497,-6.696825,-5.354221,-6.851764,-5.426357,-6.221820,-5.553088
50%,50.000000,3.000000,5.000000,29.000000,77.000000,2.642400e+04,2.644600e+04,2.646700e+04,2.641700e+04,2.636200e+04,...,-1.544618,-2.549859,-1.771445,-1.988101,-2.026566,-0.626174,-1.537988,-0.788296,-0.911948,-0.872527
75%,50.000000,3.000000,7.000000,45.000000,133.000000,7.140400e+04,7.149100e+04,7.172100e+04,7.238700e+04,7.249600e+04,...,2.901204,2.626611,3.392786,3.333927,3.794291,4.062151,3.962629,4.700873,4.580444,5.013928
max,50.000000,4.000000,9.000000,56.000000,840.000000,3.725396e+07,3.725450e+07,3.733408e+07,3.770003e+07,3.805606e+07,...,101.123596,119.193807,239.130435,146.367943,281.407035,101.123596,119.861185,239.130435,146.960126,281.407035

In [21]:
pd.pivot_table(df,
               index ='STNAME',
               aggfunc = ['median'],
               values = ['BIRTHS2010','BIRTHS2011'],
               margins = True,
               columns = 'SUMLEV'
              )

#Puse como indice la columna de STNAME
#aggfunc='sum' --> Hace que los valores sean la suma de datos
#aggfunc='median' --> Hace que los valores sean la media de datos
#aggfunc=['median','mean'] --> Duplica la cantidad de columnas, una con median y otra con mean
#values = ['BIRTHS2010','BIRTHS2011'] --> Te muestra unicamente las columnas que vos quieras, en este caso las de births2010 y 2011

#margins = True,
#columns = 'SMULEV'
#Estas dos me dejan sumar todos los datos y crea una columna que se llama "ALL"

                         median
                     BIRTHS2010                 BIRTHS2011
SUMLEV                       40      50     All         40      50     All
STNAME
Alabama                 14226.0   102.0   111.0    59689.0   419.0   441.0
Alaska                   2892.0    22.0    24.5    11711.0   117.0   119.5
Arizona                 20937.0   428.0   440.5    86104.0  1773.0  1787.5
Arkansas                 9439.0    53.0    54.5    38445.0   234.0   238.0
California             123324.0   571.5   574.0   509767.0  2431.5  2440.0
Colorado                16791.0    37.5    38.0    65916.0   148.5   149.0
Connecticut              9489.0   537.0   656.0    37636.0  2159.5  2763.0
Delaware                 2847.0   572.0  1139.0    11299.0  2234.0  4551.5
District of Columbia     2243.0  2243.0  2243.0     9196.0  9196.0  9196.0
Florida                 50872.0   226.0   235.0   213217.0   913.0   955.0
Georgia                 32489.0    63.0    64.5   132615.0   271.0   272.5
Hawaii                   4646.0   479.0   535.0    19153.0  2033.0  2244.0
Idaho                    5971.0    44.5    48.0    22955.0   171.5   177.0
Illinois                41836.0    68.5    69.0   162427.0   302.0   304.0
Indiana                 20961.0   105.5   106.0    83457.0   395.5   400.0
Iowa                     9967.0    47.0    47.0    37856.0   160.0   160.0
Kansas                   9992.0    21.0    21.0    40118.0    90.0    90.0
Kentucky                13691.0    55.0    56.0    55313.0   219.0   219.0
Louisiana               14573.0   101.0   102.0    62316.0   441.0   458.0
Maine                    3443.0   128.5   132.0    12631.0   473.0   493.0
Maryland                18461.0   345.5   364.0    73541.0  1382.0  1482.0
Massachusetts           18647.0  1311.5  1328.0    73185.0  5357.0  5535.0
Michigan                29102.0   109.0   109.5   113984.0   411.0   425.0
Minnesota               17500.0    66.0    68.5    68372.0   263.0   270.0
Mississippi              9421.0    76.5    77.0    39741.0   323.0   328.0
Missouri                19012.0    51.0    52.5    76238.0   228.0   230.0
Montana                  3068.0    17.5    18.0    11999.0    75.0    78.0
Nebraska                 6515.0    19.0    19.5    25730.0    70.0    71.0
Nevada                   8892.0    60.0    65.5    35847.0   265.0   286.0
New Hampshire            3269.0   183.5   186.0    12993.0   751.5   760.0
New Jersey              26529.0  1187.0  1227.0   106684.0  4670.0  4745.0
New Mexico               6649.0    84.0    88.0    27803.0   320.0   329.0
New York                61414.0   248.0   248.0   243118.0   921.0   934.0
North Carolina          29914.0   145.0   147.0   121043.0   607.5   608.0
North Dakota             2341.0    10.0    10.0     9197.0    41.0    41.0
Ohio                    34809.0   162.0   163.0   137935.0   609.5   615.0
Oklahoma                13144.0    65.0    68.5    52555.0   286.0   291.0
Oregon                  11877.0   122.0   126.0    45395.0   438.0   441.0
Pennsylvania            36101.0   225.0   231.0   142957.0   861.0   889.0
Rhode Island             2875.0   238.0   322.5    11004.0   952.0  1271.5
South Carolina          14180.0   159.5   184.0    57472.0   638.5   691.0
South Dakota             3032.0    17.0    17.0    11787.0    68.5    69.0
Tennessee               19663.0    81.0    87.0    78616.0   336.0   341.5
Texas                   92767.0    53.0    53.0   381746.0   219.0   221.0
Utah                    13752.0    79.0    83.5    51915.0   346.0   358.5
Vermont                  1654.0    95.0   101.0     6052.0   318.5   323.0
Virginia                25718.0    68.0    68.0   102327.0   257.0   260.5
Washington              22244.0   161.0   164.0    86703.0   685.0   685.0
West Virginia            5104.0    64.0    64.5    20462.0   271.0   274.0
Wisconsin               17558.0   116.5   120.0    67792.0   416.5   432.0
Wyoming                  1995.0    57.0    65.0     7471.0   200.0   220.5
All                     13752.0    76.0    78.0    55313.0   304.0   311.0

In [23]:
x=df.columns.tolist()
x.sort()
x

#Solo se puede sortear si los datos son una lista. Por eso converstimos las columnas en lista

['BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'CENSUS2010POP',
 'COUNTY',
 'CTYNAME',
 'DEATHS2010',
 'DEATHS2011',
 'DEATHS2012',
 'DEATHS2013',
 'DEATHS2014',
 'DEATHS2015',
 'DIVISION',
 'DOMESTICMIG2010',
 'DOMESTICMIG2011',
 'DOMESTICMIG2012',
 'DOMESTICMIG2013',
 'DOMESTICMIG2014',
 'DOMESTICMIG2015',
 'ESTIMATESBASE2010',
 'GQESTIMATES2010',
 'GQESTIMATES2011',
 'GQESTIMATES2012',
 'GQESTIMATES2013',
 'GQESTIMATES2014',
 'GQESTIMATES2015',
 'GQESTIMATESBASE2010',
 'INTERNATIONALMIG2010',
 'INTERNATIONALMIG2011',
 'INTERNATIONALMIG2012',
 'INTERNATIONALMIG2013',
 'INTERNATIONALMIG2014',
 'INTERNATIONALMIG2015',
 'NATURALINC2010',
 'NATURALINC2011',
 'NATURALINC2012',
 'NATURALINC2013',
 'NATURALINC2014',
 'NATURALINC2015',
 'NETMIG2010',
 'NETMIG2011',
 'NETMIG2012',
 'NETMIG2013',
 'NETMIG2014',
 'NETMIG2015',
 'NPOPCHG_2010',
 'NPOPCHG_2011',
 'NPOPCHG_2012',
 'NPOPCHG_2013',
 'NPOPCHG_2014',
 'NPOPCHG_2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'RBIRTH2011',
 'RBIRTH2012',
 'RBIRTH2013',
 'RBIRTH2014',
 'RBIRTH2015',
 'RDEATH2011',
 'RDEATH2012',
 'RDEATH2013',
 'RDEATH2014',
 'RDEATH2015',
 'RDOMESTICMIG2011',
 'RDOMESTICMIG2012',
 'RDOMESTICMIG2013',
 'RDOMESTICMIG2014',
 'RDOMESTICMIG2015',
 'REGION',
 'RESIDUAL2010',
 'RESIDUAL2011',
 'RESIDUAL2012',
 'RESIDUAL2013',
 'RESIDUAL2014',
 'RESIDUAL2015',
 'RINTERNATIONALMIG2011',
 'RINTERNATIONALMIG2012',
 'RINTERNATIONALMIG2013',
 'RINTERNATIONALMIG2014',
 'RINTERNATIONALMIG2015',
 'RNATURALINC2011',
 'RNATURALINC2012',
 'RNATURALINC2013',
 'RNATURALINC2014',
 'RNATURALINC2015',
 'RNETMIG2011',
 'RNETMIG2012',
 'RNETMIG2013',
 'RNETMIG2014',
 'RNETMIG2015',
 'STATE',
 'STNAME',
 'SUMLEV']

In [28]:
adf=pd.read_csv("airline_data.csv", low_memory=False)
#El low_memory=False nos lo recomendó la maquina
adf

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,1088659,1999,1,1,27,3,1999-01-27,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9438,605975,2008,1,3,24,1,2008-03-24,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9439,1986393,1992,2,5,29,5,1992-05-29,TW,20211,TW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9440,16853,2006,2,4,17,1,2006-04-17,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9441,1537918,2000,4,11,29,3,2000-11-29,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
adf.describe()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
count,9.442000e+03,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9.442000e+03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.002191e+06,2004.410294,2.525736,6.568630,15.695086,3.948422,19926.147638,1733.463461,12725.391760,1.272541e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.750812e+05,9.140586,1.114095,3.452402,8.870576,1.995809,368.788451,1652.988876,1543.143222,1.543141e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.100000e+02,1987.000000,1.000000,1.000000,1.000000,1.000000,19386.000000,1.000000,10135.000000,1.013501e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.122065e+05,1997.000000,2.000000,4.000000,8.000000,2.000000,19704.000000,530.250000,11292.000000,1.129202e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.008876e+06,2005.000000,3.000000,7.000000,16.000000,4.000000,19805.000000,1183.500000,12892.000000,1.289201e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.496591e+06,2012.000000,4.000000,10.000000,23.000000,6.000000,20355.000000,2235.500000,14100.000000,1.410001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.999844e+06,2020.000000,4.000000,12.000000,31.000000,7.000000,21171.000000,7934.000000,16440.000000,1.644001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
x = adf.columns.tolist()
x.sort()
x

['ActualElapsedTime',
 'AirTime',
 'ArrDel15',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrTime',
 'ArrTimeBlk',
 'ArrivalDelayGroups',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Cancelled',
 'CarrierDelay',
 'DOT_ID_Reporting_Airline',
 'DayOfWeek',
 'DayofMonth',
 'DepDel15',
 'DepDelay',
 'DepDelayMinutes',
 'DepTime',
 'DepTimeBlk',
 'DepartureDelayGroups',
 'Dest',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'Distance',
 'DistanceGroup',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1LongestGTime',
 'Div1TailNum',
 'Div1TotalGTime',
 'Div1WheelsOff',
 'Div1WheelsOn',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2LongestGTime',
 'Div2TailNum',
 'Div2TotalGTime',
 'Div2WheelsOff',
 'Div2WheelsOn',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3LongestGTime',
 'Div3TailNum',
 'Div3TotalGTime',
 'Div3WheelsOff',
 'Div3WheelsOn',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4LongestGTime',
 'Div4TailNum',
 'Div4TotalGTime',
 'Div4WheelsOff',
 'Div4WheelsOn',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5LongestGTime',
 'Div5TailNum',
 'Div5TotalGTime',
 'Div5WheelsOff',
 'Div5WheelsOn',
 'DivActualElapsedTime',
 'DivAirportLandings',
 'DivArrDelay',
 'DivDistance',
 'DivReachedDest',
 'Diverted',
 'FirstDepTime',
 'FlightDate',
 'Flight_Number_Reporting_Airline',
 'Flights',
 'IATA_CODE_Reporting_Airline',
 'LateAircraftDelay',
 'LongestAddGTime',
 'Month',
 'NASDelay',
 'Origin',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'Quarter',
 'Reporting_Airline',
 'SecurityDelay',
 'Tail_Number',
 'TaxiIn',
 'TaxiOut',
 'TotalAddGTime',
 'Unnamed: 0',
 'WeatherDelay',
 'WheelsOff',
 'WheelsOn',
 'Year']

1. What is the minumum and the maximum delay of airlines???

In [33]:
adf.loc[:,'DepDelay'].max()

#El .max() te da el valor maximo de la columna

988.0

In [37]:
adf.groupby(['DepDelay', 'DepartureDelayGroups']).size()

#El .size() te muestra la cantidad de rows que tienen exactamente los mismos valores

DepDelay  DepartureDelayGroups
-23.0     -2.0                    1
-19.0     -2.0                    2
-18.0     -2.0                    1
-17.0     -2.0                    3
-16.0     -2.0                    6
                                 ..
 403.0     12.0                   1
 460.0     12.0                   1
 600.0     12.0                   1
 732.0     12.0                   1
 988.0     12.0                   1
Length: 224, dtype: int64

In [65]:
pd.pivot_table(adf,
               index = ['Year', 'Quarter'],
               values = 'DepDelay',
               aggfunc = 'count',
               columns = 'DepartureDelayGroups',
               margins = True
              )#.tail(3)

#.tail(x) --> shows the last x values.
#El "margins=True" me agrega una columna y una fila llamada ALL donde viene la suma de valores

DepartureDelayGroups  -2.0    -1.0     0.0    1.0    2.0    3.0    4.0   5.0  \
Year Quarter
1987 4                 NaN     7.0    35.0    7.0    1.0    2.0    NaN   NaN
1988 1                 NaN     9.0    42.0    6.0    NaN    2.0    1.0   1.0
     2                 NaN     8.0    41.0    6.0    3.0    1.0    NaN   1.0
     3                 NaN    14.0    49.0    1.0    1.0    NaN    NaN   NaN
     4                 NaN     7.0    46.0    6.0    3.0    NaN    1.0   1.0
...                    ...     ...     ...    ...    ...    ...    ...   ...
2019 2                 1.0    57.0    20.0    9.0    5.0    3.0    3.0   2.0
     3                 NaN    44.0    17.0    3.0    5.0    1.0    2.0   2.0
     4                 NaN    49.0    25.0    7.0    5.0    1.0    1.0   NaN
2020 1                 NaN    50.0    16.0    2.0    3.0    1.0    2.0   1.0
All                   13.0  4131.0  3519.0  655.0  327.0  195.0  136.0  80.0

DepartureDelayGroups   6.0   7.0   8.0   9.0  10.0  11.0  12.0   All
Year Quarter
1987 4                 NaN   NaN   NaN   NaN   NaN   NaN   NaN    52
1988 1                 1.0   1.0   NaN   NaN   NaN   NaN   NaN    63
     2                 NaN   NaN   NaN   NaN   1.0   1.0   NaN    62
     3                 NaN   NaN   NaN   NaN   NaN   NaN   NaN    65
     4                 NaN   NaN   NaN   NaN   NaN   NaN   NaN    64
...                    ...   ...   ...   ...   ...   ...   ...   ...
2019 2                 1.0   1.0   1.0   NaN   1.0   NaN   NaN   104
     3                 1.0   NaN   NaN   NaN   NaN   NaN   2.0    77
     4                 NaN   NaN   NaN   NaN   NaN   NaN   NaN    88
2020 1                 NaN   NaN   NaN   1.0   NaN   NaN   NaN    76
All                   56.0  42.0  26.0  21.0  24.0  14.0  46.0  9285

[131 rows x 16 columns]