In [4]:
import pandas as pd
import numpy as np

In [6]:
df =pd.DataFrame(['A', 'A+', 'B', 'B+', 'C', 'C+'],
                  index= ['Excellent', 'Very Good', 'Good', 'Good', 'Ok', 'Ok'],
                  columns=['Grades']
                  )
df.to_csv('MyGrades.csv')

In [8]:
df = pd.read_csv('cwurData.csv')
df.head(1)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.0,2012

In [14]:
def create_category(x):
    if (x >= 1) & (x <= 100):
        return 'First Tier'
    elif (x>100) & (x<=200):
        return 'Second Tier'
    elif (x<200) & (x<=300):
        return 'Third Tier'
    return 'Other top university'

df['Rank_level'] = df['world_rank'].apply(lambda y:create_category(y))
df.head(2)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,Rank_level
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012,First Tier
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012,First Tier